@font-face {
  font-family: 'HurmeGeometric';
  src: url('./HurmeGeometricSans1.otf') format('opentype');
}

body {
  font-family: HurmeGeometric, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 255);
}

.main-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
  border: 1px solid #dfe1e6;
  background-color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  width: 100%;
  font-family: 'HurmeGeometric';
  background-color: white;
}

.issues {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(128, 128, 255, 0.4);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.issues .description {
	font-weight: normal;
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
}

.issues-container {
  background-color: rgb(238, 238, 255);
  border-radius: 8px;
  box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
  border: 1px solid #dfe1e6;
  margin: 20px;
  padding: 10px;
}

.tickets-concernes {
	font-weight: bold;
	font-size: 18px;
	padding: 15px;
}

.issues-button{
	background-color: white;
	border-radius: 4px;
	color: rgb(128, 128, 255);
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	border: 0px;
	font-size: 20px;
	margin-right: 20px;
	box-shadow: 0 2px 4px rgb(192, 192, 192);
	width: 40px;
}

.issues-button:hover{
	background-color: rgb(230, 230, 255);
}



.description-container {
	display: flex;
	align-items: center;
	padding: 20px;
	margin-right: 10px;
}

.description {
	width: 60%;
	font-weight: bold;
	font-size: 20px;
	padding-right: 20px;
}

.progress-bar {
    width: 40%;
    height: 25px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    display: block;
    height: 100%;
    width: var(--progress, 0%);
    background-color: rgb(128, 128, 255);
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
}

.percentage {
	padding-left: 20px;
	white-space: nowrap;
	font-size: 18px;
}

.number-button {
  background-color: white;
  border-radius: 4px;
  color: rgb(128, 128, 255);
  border: 0px;
  font-size: 18px;
  box-shadow: 0 2px 4px rgb(192, 192, 192);
  width: 40px;
  margin: 2px;
  justify-content: center;
  
}

.number-button:hover {
  background-color: rgb(230, 230, 255);
}

.number-button.selected {
  background-color: rgb(128, 128, 255);
  color: white;
  font-weight: bold;
}

.weight-container {
	display: flex;
	align-items: center;
	padding: 20px;
	margin-right: 10px;
	/*justify-content: space-evenly;*/
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}

.weight-container .numbers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 60%;
	margin-left: 20px;
}

.weight-container .text {
	white-space: nowrap;
	font-size: 18px;
}

.advice-container {
	display: flex;
	padding: 20px;
	margin-right: 10px;
	/*justify-content: space-evenly;*/
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}

.advice-container .advice {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 30px;
	text-align: justify;
	font-size: 18px;
	
}

.advice-container .text {
	white-space: nowrap;
	font-size: 18px;
}

.header-container {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.header-container .left-part {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-right: 20px;
	margin-left: 20px;
}

.header-container .left-part .text {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.dropdown-container label {
  font-size: 16px;
  margin-bottom: 10px;
}

.dropdown-container select {
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(192, 192, 192);
  font-family: 'HurmeGeometric';
}

.header-container .left-part button {
	width: 100%;
	color: black;
	background-color: rgb(230, 230, 255);
	padding: 5px;
	font-size: 16px;
	font-family: 'HurmeGeometric';
}

.header-container .left-part button:hover {
	background-color: rgb(128, 128, 255);
}

.header-container .gauge-container-header {
	width: 40%;
	justify-content: center;	
	align-items: center;
	display: flex;
	margin-left: auto;
}


.gauge-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gauge-white {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gauge-percentage {
  font-size: 30px;
}
