@font-face {
  font-family: 'HurmeGeometric';
  src: url('./HurmeGeometricSans1.otf') format('opentype');
}

body {
  margin: 0;
  font-family: HurmeGeometric, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 198, 200);
}



.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  width: 100%;
  font-family: 'HurmeGeometric';
}

.issues{
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 10px;
	padding: 10px;	
	box-shadow: 0 2px 4px rgb(212, 17, 27, 1);
}

.issues-button{
	background-color: white;
	border-radius: 4px;
	color: rgb(128, 128, 255);
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	border: 0px;
	font-size: 20px;
	margin-right: 20px;
	box-shadow: 0 2px 4px rgb(192, 192, 192);
}

.issues-button:hover{
	background-color: rgb(230, 230, 255);
	border-radius: 4px;
	color: rgb(128, 128, 255);
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	border: 0px;
	font-size: 20px;
	margin-right: 20px;
	box-shadow: 0 2px 4px rgb(192, 192, 192);
}



.description-container {
	display: flex;
	align-items: center;
	padding: 20px;
	margin-right: 10px;
}

.description {
	width: 60%;
	font-weight: bold;
	font-size: 20px;
	padding-right: 10px;
}

.progress-bar {
    width: 40%;
    height: 25px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    display: block;
    height: 100%;
    width: var(--progress, 0%);
    background-color: rgb(128, 128, 255);
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
}